<html>
<head>
<title>
MywebApp.in
</title>
<link rel="stylesheet" href="/stylesheets/style.css" />
<link rel="stylesheet" href="/stylesheets/w3scs.css" />
<script src='/javascripts/adduser.js'></script>
</head>
<body>
<h1> WebApp</h1></br>
<h2 id="head"> <%= title %></h2><br>
<center><button onClick="addUserNew()" class="w3-btn w3-black" id="buttons">Add User</button></center><br>
<center><button onClick="getUsers()" class="w3-btn w3-black" id="buttons">Get All Users</button></center>
</body>
</html>